<?xml version="1.0" encoding="utf-8" ?>

<Topic Id="DevelopersNetworkTopic" Importance="1">		  
	<Tasks>
    <Task Id="TaskExecutionExample" pipelineId="TaskExecutionExamplePipeline">
      <Schedule Execute="Daily" StartAt="1" StartTolerance="31"/>
      <Message ExpireDays="365" Scope="Instance"/>
      <SupportedPlatforms>
        <SupportedPlatform Version="V100" platform="Executive"/>
        <SupportedPlatform Version="V100" platform="Professional"/>
      </SupportedPlatforms>
    </Task>  
	</Tasks>  
	<IntegrationConfig Version="3.0">
		<Pipelines>      
      <Pipeline Id="TaskExecutionExamplePipeline">
        <Handlers>
          <Handler Id="ErpReadConfigHandler" Order="1" Behavior="Reader" Type="Primavera.Hurakan.Handlers.ErpReadConfig" ConfigStr="instanceIdFilter=%%InstanceId%%;userFiltler=%%UserFilter%%;enterpriseFilter=%%EnterpriseFilter%%"/>
          <Handler Id="TaskExecutionExampleHandler" Order="2" Behavior="Reader" Type="Primavera.Bot.DevelopersNetworkTopic.Handlers.TaskExecutionExampleHandler" ConfigStr="topicId=%%TopicId%%;taskId=%%TaskId%%"/>
          <Handler Id="SaveBotMessagesHandler" Order="3" Behavior="Reader" Type="Primavera.Hurakan.BotHandlers.SaveBotMessages" ConfigStr=""/>
        </Handlers>
      </Pipeline>
		</Pipelines>		
	</IntegrationConfig>
</Topic>
